<ion-grid>
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div text-center>
        <h4>Log-in</h4>
        <p>Welcome to MODCO! Please enter your Drexel email below to verify your identity.</p>
      </div>
      <div padding>
        <p>{{errorMessage}}</p>
        <ion-item>
          <ion-input [(ngModel)]="email" pattern="email" name="email" type="email" placeholder="Email"></ion-input>
        </ion-item>
          <ion-item>
              <ion-input [(ngModel)]="password" pattern="password" name="password" type="password" placeholder="Password"></ion-input>
          </ion-item>
      </div>

      <div padding>
        <ion-button (click)="log()" size="large" expand="block">Login</ion-button>
          <ion-button (click)="goToRegister()" size="large" expand="block" fill = "Medium">Register</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

