<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>Search Display</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="jobs" *ngFor="let job of jobs">
    <ion-card-header>
      <ion-card-title>{{job.name}}</ion-card-title>
      <ion-card-subtitle>{{job.title}}</ion-card-subtitle>
      <ion-card-subtitle>{{job.l}}</ion-card-subtitle>
      <ion-card-subtitle>{{job.location}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
