<ion-header>
  <ion-toolbar>
    <ion-menu-button></ion-menu-button><ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-input placeholder="Enter Company Name"></ion-input>
  <ion-list>
  <ion-item>
    <ion-label>Major</ion-label>
    <ion-select multiple="true" cancelText="Cancel" okText="Okay">
      <ion-select-option value="Accounting">Accounting (BSBA)</ion-select-option>
      <ion-select-option value="AirForceROTC">Air Force ROTC</ion-select-option>
      <ion-select-option value="Animation&VisualEffects">Animation & Visual Effects (BS)</ion-select-option>
      <ion-select-option value="Anthropology">Anthropology (BA)</ion-select-option>
      <ion-select-option value="ArchitecturalEngineering">Architectural Engineering (BSAE)</ion-select-option>
      <ion-select-option value="Architecture">Architecture (BArch)</ion-select-option>
      <ion-select-option value="ArmyROTC">Army ROTC</ion-select-option>
      <ion-select-option value="ArtHistory">Art History (BA, BS, BA/MS)</ion-select-option>
      <ion-select-option value="BehavioralHealthCounseling">Behavioral Health Counseling (BS)</ion-select-option>
      <ion-select-option value="BiologicalSciences">Biological Sciences (BS)</ion-select-option>
      <ion-select-option value="BiomedicalEngineering">Biomedical Engineering (BS)</ion-select-option>
      <ion-select-option value="Business">Business (General) (BSBA)</ion-select-option>
      <ion-select-option value="BusinessandEngineering">Business and Engineering (BSBAE)</ion-select-option>
      <ion-select-option value="BusinessAnalytics">Business Analytics (co-major) (BSBA)</ion-select-option>
      <ion-select-option value="BusinessAdministration">Business Administration (BSBA)</ion-select-option>
      <ion-select-option value="BusinessEconomics">Business Economics (co-major) (BSBA)</ion-select-option>
      <ion-select-option value="ChemicalEngineering">Chemical Engineering (BSCHE)</ion-select-option>
      <ion-select-option value="Chemistry">Chemistry (BA, BS)</ion-select-option>
      <ion-select-option value="Chemistry-BiochemistryConcentration">Chemistry-Biochemistry Concentration (BS)</ion-select-option>
      <ion-select-option value="CivilEngineering">Civil Engineering (BSCIV)</ion-select-option>
      <ion-select-option value="Communication">Communication (BA, BS)</ion-select-option>
      <ion-select-option value="ComputerEngineering">Computer Engineering (BSCE)</ion-select-option>
      <ion-select-option value="ComputerScience">Computer Science (BACS, BSCS)</ion-select-option>
      <ion-select-option value="ComputingandSecurityTechnology">Computing and Security Technology (BSCST)</ion-select-option>
      <ion-select-option value="ConstructionManagement">Construction Management (BSCMGT)</ion-select-option>
      <ion-select-option value="CriminologyandJusticeStudies">Criminology and Justice Studies (BS)</ion-select-option>
      <ion-select-option value="CulinaryArts&Science">Culinary Arts & Science (BSCAS)</ion-select-option>
      <ion-select-option value="Custom-DesignedMajor">Custom-Designed Major (BS)</ion-select-option>
      <ion-select-option value="Dance">Dance (BS)</ion-select-option>
      <ion-select-option value="DataScience">Data Science (BS)</ion-select-option>
      <ion-select-option value="DesignandMerchandising">Design and Merchandising (BS)</ion-select-option>
      <ion-select-option value="DesignofLearningTechnologies">Design of Learning Technologies (BS)</ion-select-option>
      <ion-select-option value="DigitalMedia">Digital Media (BS/MS)</ion-select-option>
      <ion-select-option value="Economics">Economics (BAECON, BSECON, BS/JD)</ion-select-option>
      <ion-select-option value="ElectricalEngineering">Electrical Engineering (BSEE)</ion-select-option>
      <ion-select-option value="ElementaryEducation">Elementary Education (BS)</ion-select-option>
      <ion-select-option value="Engineering">Engineering (BSE)</ion-select-option>
      <ion-select-option value="EngineeringManagement">Engineering Management (BS/MS)</ion-select-option>
      <ion-select-option value="EngineeringTechnology">Engineering Technology (BSET)</ion-select-option>
      <ion-select-option value="English">English (BA)</ion-select-option>
      <ion-select-option value="English/Publishing">English (BA) / Publishing (MA)</ion-select-option>
      <ion-select-option value="EntertainmentandArtsManagement">Entertainment and Arts Management (BS)</ion-select-option>
      <ion-select-option value="EntrepreneurshipandInnovation">Entrepreneurship and Innovation (BA)</ion-select-option>
      <ion-select-option value="EnvironmentalEngineering">Environmental Engineering (BSENE)</ion-select-option>
      <ion-select-option value="EnvironmentalScience">Environmental Science (BS)</ion-select-option>
      <ion-select-option value="EnvironmentalStudiesandSustainability">Environmental Studies and Sustainability (BA)</ion-select-option>
      <ion-select-option value="FashionDesign">Fashion Design (BS)</ion-select-option>
      <ion-select-option value="FilmandTVProduction">Film and TV Production (BS)</ion-select-option>
      <ion-select-option value="Finance">Finance (BSBA)</ion-select-option>
      <ion-select-option value="GameDesignandProduction">Game Design and Production (BS)</ion-select-option>
      <ion-select-option value="GeneralBusiness">General Business (BSBA)</ion-select-option>
      <ion-select-option value="GeneralStudies">General Studies (BS)</ion-select-option>
      <ion-select-option value="Geoscience">Geoscience (BS)</ion-select-option>
      <ion-select-option value="GlobalStudies">Global Studies (BA)</ion-select-option>
      <ion-select-option value="GlobalStudies/PublicHealth">Global Studies (BA) / Public Health (MPH)</ion-select-option>
      <ion-select-option value="GraphicDesign">Graphic Design (BS)</ion-select-option>
      <ion-select-option value="HealthSciences">Health Sciences (BS)</ion-select-option>
      <ion-select-option value="HealthServicesAdministration">Health Services Administration (BS)</ion-select-option>
      <ion-select-option value="History">History (BA)</ion-select-option>
      <ion-select-option value="HospitalityManagement">Hospitality Management (BSHM)</ion-select-option>
      <ion-select-option value="InformationSystems">Information Systems (BS)</ion-select-option>
      <ion-select-option value="InteractiveDigitalMedia">Interactive Digital Media (BS)</ion-select-option>
      <ion-select-option value="InternationalBusiness">International Business (BSBA)</ion-select-option>
      <ion-select-option value="InteriorDesign">Interior Design (BS)</ion-select-option>
      <ion-select-option value="LegalStudies">Legal Studies (BS)</ion-select-option>
      <ion-select-option value="ManagementInformationSystems">Management Information Systems (BS)</ion-select-option>
      <ion-select-option value="Marketing">Marketing (BSBA)</ion-select-option>
      <ion-select-option value="MaterialsScienceandEngineering">Materials Science and Engineering (BSMSE)</ion-select-option>
      <ion-select-option value="Mathematics">Mathematics (BA, BS)</ion-select-option>
      <ion-select-option value="MechanicalEngineering">Mechanical Engineering (BSME)</ion-select-option>
      <ion-select-option value="MusicIndustry">Music Industry (BS)</ion-select-option>
      <ion-select-option value="NavyROTC">Navy ROTC</ion-select-option>
      <ion-select-option value="Nursing">Nursing (BSN)</ion-select-option>
      <ion-select-option value="Nursing:RN-MSNBridgeProgram">Nursing: RN-MSN Bridge Program</ion-select-option>
      <ion-select-option value="Nursing:Accelerated">Nursing: Accelerated RN/BSN/MSN</ion-select-option>
      <ion-select-option value="NutritionandFoods">Nutrition and Foods (BS)</ion-select-option>
      <ion-select-option value="NutritionSciences:Accelerated">Nutrition Sciences: Accelerated BS/MS</ion-select-option>
      <ion-select-option value="OperationsandSupplyChainManagement">Operations and Supply Chain Management (BSBA)</ion-select-option>
      <ion-select-option value="OrganizationalManagement">Organizational Management (co-major) (BSBA)</ion-select-option>
      <ion-select-option value="Philosophy">Philosophy (BA)</ion-select-option>
      <ion-select-option value="Photography">Photography (BS)</ion-select-option>
      <ion-select-option value="Physics">Physics (BS)</ion-select-option>
      <ion-select-option value="PoliticalScience">Political Science (BA)</ion-select-option>
      <ion-select-option value="ProductDesign">Product Design (BS)</ion-select-option>
      <ion-select-option value="Psychology">Psychology (BS)</ion-select-option>
      <ion-select-option value="PublicHealth">Public Health (BS)</ion-select-option>
      <ion-select-option value="PublicHealth:Accelerated">Public Health: Accelerated BS/MPH</ion-select-option>
      <ion-select-option value="RealEstateManagementandDevelopment">Real Estate Management and Development (BSBA)</ion-select-option>
      <ion-select-option value="ROTC">ROTC (Air Force, Army, Navy)</ion-select-option>
      <ion-select-option value="Screenwriting&Playwriting">Screenwriting & Playwriting (BS)</ion-select-option>
      <ion-select-option value="Sociology">Sociology (BA)</ion-select-option>
      <ion-select-option value="SoftwareEngineering">Software Engineering (BS)</ion-select-option>
      <ion-select-option value="SportManagement">Sport Management (BSSM)</ion-select-option>
      <ion-select-option value="SportManagement/BusinessAdministration">Sport Management (BSSM) / Business Administration (MBA)</ion-select-option>
      <ion-select-option value="SystemsEngineering">Systems Engineering (BS/MS)</ion-select-option>
      <ion-select-option value="TeacherEducation">Teacher Education (BS)</ion-select-option>
      <ion-select-option value="TechnologyInnovationManagement">Technology Innovation Management (co-major) (BS)</ion-select-option>
      <ion-select-option value="VirtualReality&ImmersiveMedia">Virtual Reality & Immersive Media (BS)</ion-select-option>
      <ion-select-option value="WestphalStudiesProgram">Westphal Studies Program (BS)</ion-select-option>

    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Location</ion-label>
    <ion-select multiple="true">
      <ion-select-option value="CenterCity">Philadelphia Center City</ion-select-option>
      <ion-select-option value="UniversityCity">University City</ion-select-option>
      <ion-select-option value="OtherParts">Near Philadelphia</ion-select-option>
      <ion-select-option value="OtherCities">Other Cities</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
<ion-item>
  <ion-label>Paid</ion-label>
  <ion-checkbox checked="true"></ion-checkbox>
</ion-item>
<ion-item>
  <ion-label>Unpaid</ion-label>
  <ion-checkbox checked="true"></ion-checkbox>
</ion-item>
<ion-list-header></ion-list-header>
<ion-button (click)="goToSearchDisplay()">Search</ion-button>
</ion-content>
