<ion-header>
  <ion-toolbar>
    <ion-menu-button></ion-menu-button><ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="companyName" placeholder="Enter Company Name"></ion-searchbar>
  <ion-list>
  <ion-item>
    <ion-label>Major</ion-label>
    <ion-select [(ngModel)]="majors" multiple="true" cancelText="Cancel" okText="Okay">
      <ion-select-option value="Accounting">Accounting</ion-select-option>
      <ion-select-option value="AirForceROTC">Air Force ROTC</ion-select-option>
      <ion-select-option value="Animation&VisualEffects">Animation & Visual Effects</ion-select-option>
      <ion-select-option value="Anthropology">Anthropology</ion-select-option>
      <ion-select-option value="ArchitecturalEngineering">Architectural Engineering</ion-select-option>
      <ion-select-option value="Architecture">Architecture</ion-select-option>
      <ion-select-option value="ArmyROTC">Army ROTC</ion-select-option>
      <ion-select-option value="ArtHistory">Art History</ion-select-option>
      <ion-select-option value="BehavioralHealthCounseling">Behavioral Health Counseling</ion-select-option>
      <ion-select-option value="BiologicalSciences">Biological Sciences</ion-select-option>
      <ion-select-option value="BiomedicalEngineering">Biomedical Engineering</ion-select-option>
      <ion-select-option value="Business">Business</ion-select-option>
      <ion-select-option value="BusinessandEngineering">Business and Engineering</ion-select-option>
      <ion-select-option value="BusinessAnalytics">Business Analytics</ion-select-option>
      <ion-select-option value="BusinessAdministration">Business Administration</ion-select-option>
      <ion-select-option value="BusinessEconomics">Business Economics</ion-select-option>
      <ion-select-option value="ChemicalEngineering">Chemical Engineering</ion-select-option>
      <ion-select-option value="Chemistry">Chemistry</ion-select-option>
      <ion-select-option value="Chemistry-BiochemistryConcentration">Chemistry-Biochemistry Concentration</ion-select-option>
      <ion-select-option value="CivilEngineering">Civil Engineering</ion-select-option>
      <ion-select-option value="Communication">Communication</ion-select-option>
      <ion-select-option value="ComputerEngineering">Computer Engineering</ion-select-option>
      <ion-select-option value="ComputerScience">Computer Science</ion-select-option>
      <ion-select-option value="ComputingandSecurityTechnology">Computing and Security Technology</ion-select-option>
      <ion-select-option value="ConstructionManagement">Construction Management</ion-select-option>
      <ion-select-option value="CriminologyandJusticeStudies">Criminology and Justice Studies</ion-select-option>
      <ion-select-option value="CulinaryArts&Science">Culinary Arts & Science</ion-select-option>
      <ion-select-option value="Custom-DesignedMajor">Custom-Designed Major</ion-select-option>
      <ion-select-option value="Dance">Dance</ion-select-option>
      <ion-select-option value="DataScience">Data Science</ion-select-option>
      <ion-select-option value="DesignandMerchandising">Design and Merchandising</ion-select-option>
      <ion-select-option value="DesignofLearningTechnologies">Design of Learning Technologies</ion-select-option>
      <ion-select-option value="DigitalMedia">Digital Media</ion-select-option>
      <ion-select-option value="Economics">Economics</ion-select-option>
      <ion-select-option value="ElectricalEngineering">Electrical Engineering</ion-select-option>
      <ion-select-option value="ElementaryEducation">Elementary Education</ion-select-option>
      <ion-select-option value="Engineering">Engineering</ion-select-option>
      <ion-select-option value="EngineeringManagement">Engineering Management</ion-select-option>
      <ion-select-option value="EngineeringTechnology">Engineering Technology</ion-select-option>
      <ion-select-option value="English">English</ion-select-option>
      <ion-select-option value="English/Publishing">English / Publishing</ion-select-option>
      <ion-select-option value="EntertainmentandArtsManagement">Entertainment and Arts Management</ion-select-option>
      <ion-select-option value="EntrepreneurshipandInnovation">Entrepreneurship and Innovation</ion-select-option>
      <ion-select-option value="EnvironmentalEngineering">Environmental Engineering</ion-select-option>
      <ion-select-option value="EnvironmentalScience">Environmental Science</ion-select-option>
      <ion-select-option value="EnvironmentalStudiesandSustainability">Environmental Studies and Sustainability</ion-select-option>
      <ion-select-option value="FashionDesign">Fashion Design</ion-select-option>
      <ion-select-option value="FilmandTVProduction">Film and TV Production</ion-select-option>
      <ion-select-option value="Finance">Finance</ion-select-option>
      <ion-select-option value="GameDesignandProduction">Game Design and Production</ion-select-option>
      <ion-select-option value="GeneralBusiness">General Business</ion-select-option>
      <ion-select-option value="GeneralStudies">General Studies</ion-select-option>
      <ion-select-option value="Geoscience">Geoscience</ion-select-option>
      <ion-select-option value="GlobalStudies">Global Studies</ion-select-option>
      <ion-select-option value="GlobalStudies/PublicHealth">Global Studies / Public Health</ion-select-option>
      <ion-select-option value="GraphicDesign">Graphic Design</ion-select-option>
      <ion-select-option value="HealthSciences">Health Sciences</ion-select-option>
      <ion-select-option value="HealthServicesAdministration">Health Services Administration</ion-select-option>
      <ion-select-option value="History">History</ion-select-option>
      <ion-select-option value="HospitalityManagement">Hospitality Management</ion-select-option>
      <ion-select-option value="InformationSystems">Information Systems</ion-select-option>
      <ion-select-option value="InteractiveDigitalMedia">Interactive Digital Media</ion-select-option>
      <ion-select-option value="InternationalBusiness">International Business</ion-select-option>
      <ion-select-option value="InteriorDesign">Interior Design</ion-select-option>
      <ion-select-option value="LegalStudies">Legal Studies</ion-select-option>
      <ion-select-option value="ManagementInformationSystems">Management Information Systems</ion-select-option>
      <ion-select-option value="Marketing">Marketing</ion-select-option>
      <ion-select-option value="MaterialsScienceandEngineering">Materials Science and Engineering</ion-select-option>
      <ion-select-option value="Mathematics">Mathematics</ion-select-option>
      <ion-select-option value="MechanicalEngineering">Mechanical Engineering</ion-select-option>
      <ion-select-option value="MusicIndustry">Music Industry</ion-select-option>
      <ion-select-option value="NavyROTC">Navy ROTC</ion-select-option>
      <ion-select-option value="Nursing">Nursing</ion-select-option>
      <ion-select-option value="Nursing:RN-MSNBridgeProgram">Nursing: RN-MSN Bridge Program</ion-select-option>
      <ion-select-option value="Nursing:Accelerated">Nursing: Accelerated</ion-select-option>
      <ion-select-option value="NutritionandFoods">Nutrition and Foods</ion-select-option>
      <ion-select-option value="NutritionSciences:Accelerated">Nutrition Sciences: Accelerated</ion-select-option>
      <ion-select-option value="OperationsandSupplyChainManagement">Operations and Supply Chain Management</ion-select-option>
      <ion-select-option value="OrganizationalManagement">Organizational Management</ion-select-option>
      <ion-select-option value="Philosophy">Philosophy</ion-select-option>
      <ion-select-option value="Photography">Photography</ion-select-option>
      <ion-select-option value="Physics">Physics</ion-select-option>
      <ion-select-option value="PoliticalScience">Political Science</ion-select-option>
      <ion-select-option value="ProductDesign">Product Design</ion-select-option>
      <ion-select-option value="Psychology">Psychology</ion-select-option>
      <ion-select-option value="PublicHealth">Public Health</ion-select-option>
      <ion-select-option value="PublicHealth:Accelerated">Public Health: Accelerated</ion-select-option>
      <ion-select-option value="RealEstateManagementandDevelopment">Real Estate Management and Development</ion-select-option>
      <ion-select-option value="ROTC">ROTC</ion-select-option>
      <ion-select-option value="Screenwriting&Playwriting">Screenwriting & Playwriting</ion-select-option>
      <ion-select-option value="Sociology">Sociology</ion-select-option>
      <ion-select-option value="SoftwareEngineering">Software Engineering</ion-select-option>
      <ion-select-option value="SportManagement">Sport Management</ion-select-option>
      <ion-select-option value="SportManagement/BusinessAdministration">Sport Management / Business Administration</ion-select-option>
      <ion-select-option value="SystemsEngineering">Systems Engineering</ion-select-option>
      <ion-select-option value="TeacherEducation">Teacher Education</ion-select-option>
      <ion-select-option value="TechnologyInnovationManagement">Technology Innovation Management</ion-select-option>
      <ion-select-option value="VirtualReality&ImmersiveMedia">Virtual Reality & Immersive Media</ion-select-option>
      <ion-select-option value="WestphalStudiesProgram">Westphal Studies Program</ion-select-option>

    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Location</ion-label>
    <ion-select multiple="true">
      <ion-select-option value="OtherCities">Center City Philadelphia</ion-select-option>
      <ion-select-option value="OtherCities">University City Philadelphia</ion-select-option>
      <ion-select-option value="OtherCities">Cherry Hill</ion-select-option>
      <ion-select-option value="OtherCities">Baltimore</ion-select-option>
      <ion-select-option value="OtherCities">Haddonfield</ion-select-option>
      <ion-select-option value="OtherCities">New York</ion-select-option>
      <ion-select-option value="OtherCities">Pittsburgh</ion-select-option>
      <ion-select-option value="OtherCities">Springfield</ion-select-option>
      <ion-select-option value="OtherCities">Moorestown</ion-select-option>
      <ion-select-option value="OtherCities">Trenton</ion-select-option>
      <ion-select-option value="OtherCities">Wilmington</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
<ion-item>
  <ion-label>Paid</ion-label>
  <ion-checkbox [(ngModel)]= "paid_val" checked="true"></ion-checkbox>
</ion-item>
<ion-item>
  <ion-label>Unpaid</ion-label>
  <ion-checkbox [(ngModel)]= "unpaid_val" checked="true"></ion-checkbox>
</ion-item>
<ion-list-header></ion-list-header>
<ion-button (click)="goToSearchDisplay(companyName)">Search</ion-button>
</ion-content>
