<ion-header>
  <ion-toolbar>
    <ion-menu-button></ion-menu-button><ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-input placeholder="Enter Company Name"></ion-input>
  <ion-list>
  <ion-item>
    <ion-label>Major</ion-label>
    <ion-select multiple="true" cancelText="Cancel" okText="Okay">
      <ion-select-option value="Accounting(BSBA)">Accounting (BSBA)</ion-select-option>
      <ion-select-option value="AirForceROTC">Air Force ROTC</ion-select-option>
      <ion-select-option value="Animation&VisualEffects(BS)">Animation & Visual Effects (BS)</ion-select-option>
      <ion-select-option value="Anthropology(BA)">Anthropology (BA)</ion-select-option>
      <ion-select-option value="ArchitecturalEngineering(BSAE)">Architectural Engineering (BSAE)</ion-select-option>
      <ion-select-option value="Architecture(BArch)">Architecture (BArch)</ion-select-option>
      <ion-select-option value="ArmyROTC">Army ROTC</ion-select-option>
      <ion-select-option value="ArtHistory(BA,BS,BA/MS)">Art History (BA, BS, BA/MS)</ion-select-option>
      <ion-select-option value="BehavioralHealthCounseling(BS)">Behavioral Health Counseling (BS)</ion-select-option>
      <ion-select-option value="BiologicalSciences(BS)">Biological Sciences (BS)</ion-select-option>
      <ion-select-option value="BiomedicalEngineering(BS)">Biomedical Engineering (BS)</ion-select-option>
      <ion-select-option value="Business(General)(BSBA)">Business (General) (BSBA)</ion-select-option>
      <ion-select-option value="BusinessandEngineering(BSBAE)">Business and Engineering (BSBAE)</ion-select-option>
      <ion-select-option value="BusinessAnalytics(co-major)(BSBA)">Business Analytics (co-major) (BSBA)</ion-select-option>
      <ion-select-option value="BusinessAdministration(BSBA)">Business Administration (BSBA)</ion-select-option>
      <ion-select-option value="BusinessEconomics(co-major)(BSBA)">Business Economics (co-major) (BSBA)</ion-select-option>
      <ion-select-option value="ChemicalEngineering(BSCHE)">Chemical Engineering (BSCHE)</ion-select-option>
      <ion-select-option value="Chemistry(BA,BS)">Chemistry (BA, BS)</ion-select-option>
      <ion-select-option value="Chemistry-BiochemistryConcentration(BS)">Chemistry-Biochemistry Concentration (BS)</ion-select-option>
      <ion-select-option value="CivilEngineering(BSCIV)">Civil Engineering (BSCIV)</ion-select-option>
      <ion-select-option value="Communication(BA,BS)">Communication (BA, BS)</ion-select-option>
      <ion-select-option value="ComputerEngineering(BSCE)">Computer Engineering (BSCE)</ion-select-option>
      <ion-select-option value="ComputerScience(BACS,BSCS)">Computer Science (BACS, BSCS)</ion-select-option>
      <ion-select-option value="ComputingandSecurityTechnology(BSCST)">Computing and Security Technology (BSCST)</ion-select-option>
      <ion-select-option value="ConstructionManagement(BSCMGT)">Construction Management (BSCMGT)</ion-select-option>
      <ion-select-option value="CriminologyandJusticeStudies(BS)">Criminology and Justice Studies (BS)</ion-select-option>
      <ion-select-option value="CulinaryArts&Science(BSCAS)">Culinary Arts & Science (BSCAS)</ion-select-option>
      <ion-select-option value="Custom-DesignedMajor(BS)">Custom-Designed Major (BS)</ion-select-option>
      <ion-select-option value="Dance(BS)">Dance (BS)</ion-select-option>
      <ion-select-option value="DataScience(BS)">Data Science (BS)</ion-select-option>
      <ion-select-option value="DesignandMerchandising(BS)">Design and Merchandising (BS)</ion-select-option>
      <ion-select-option value="DesignofLearningTechnologies(BS)">Design of Learning Technologies (BS)</ion-select-option>
      <ion-select-option value="DigitalMedia(BS/MS)">Digital Media (BS/MS)</ion-select-option>
      <ion-select-option value="Economics(BAECON,BSECON,BS/JD)">Economics (BAECON, BSECON, BS/JD)</ion-select-option>
      <ion-select-option value="ElectricalEngineering(BSEE)">Electrical Engineering (BSEE)</ion-select-option>
      <ion-select-option value="ElementaryEducation(BS)">Elementary Education (BS)</ion-select-option>
      <ion-select-option value="Engineering(BSE)">Engineering (BSE)</ion-select-option>
      <ion-select-option value="EngineeringManagement(BS/MS)">Engineering Management (BS/MS)</ion-select-option>
      <ion-select-option value="EngineeringTechnology(BSET)">Engineering Technology (BSET)</ion-select-option>
      <ion-select-option value="English(BA)">English (BA)</ion-select-option>
      <ion-select-option value="English(BA)/Publishing(MA)">English (BA) / Publishing (MA)</ion-select-option>
      <ion-select-option value="EntertainmentandArtsManagement(BS)">Entertainment and Arts Management (BS)</ion-select-option>
      <ion-select-option value="EntrepreneurshipandInnovation(BA)">Entrepreneurship and Innovation (BA)</ion-select-option>
      <ion-select-option value="EnvironmentalEngineering(BSENE)">Environmental Engineering (BSENE)</ion-select-option>
      <ion-select-option value="EnvironmentalScience(BS)">Environmental Science (BS)</ion-select-option>
      <ion-select-option value="EnvironmentalStudiesandSustainability(BA)">Environmental Studies and Sustainability (BA)</ion-select-option>
      <ion-select-option value="FashionDesign(BS)">Fashion Design (BS)</ion-select-option>
      <ion-select-option value="FilmandTVProduction(BS)">Film and TV Production (BS)</ion-select-option>
      <ion-select-option value="Finance(BSBA)">Finance (BSBA)</ion-select-option>
      <ion-select-option value="GameDesignandProduction(BS)">Game Design and Production (BS)</ion-select-option>
      <ion-select-option value="GeneralBusiness(BSBA)">General Business (BSBA)</ion-select-option>
      <ion-select-option value="GeneralStudies(BS)">General Studies (BS)</ion-select-option>
      <ion-select-option value="Geoscience(BS)">Geoscience (BS)</ion-select-option>
      <ion-select-option value="GlobalStudies(BA)">Global Studies (BA)</ion-select-option>
      <ion-select-option value="GlobalStudies(BA)/PublicHealth(MPH)">Global Studies (BA) / Public Health (MPH)</ion-select-option>
      <ion-select-option value="GraphicDesign(BS)">Graphic Design (BS)</ion-select-option>
      <ion-select-option value="HealthSciences(BS)">Health Sciences (BS)</ion-select-option>
      <ion-select-option value="HealthServicesAdministration(BS)">Health Services Administration (BS)</ion-select-option>
      <ion-select-option value="History(BA)">History (BA)</ion-select-option>
      <ion-select-option value="HospitalityManagement(BSHM)">Hospitality Management (BSHM)</ion-select-option>
      <ion-select-option value="InformationSystems(BS)">Information Systems (BS)</ion-select-option>
      <ion-select-option value="InteractiveDigitalMedia(BS)">Interactive Digital Media (BS)</ion-select-option>
      <ion-select-option value="InternationalBusiness(BSBA)">International Business (BSBA)</ion-select-option>
      <ion-select-option value="InteriorDesign(BS)">Interior Design (BS)</ion-select-option>
      <ion-select-option value="LegalStudies(BS)">Legal Studies (BS)</ion-select-option>
      <ion-select-option value="ManagementInformationSystems(BS)">Management Information Systems (BS)</ion-select-option>
      <ion-select-option value="Marketing(BSBA)">Marketing (BSBA)</ion-select-option>
      <ion-select-option value="MaterialsScienceandEngineering(BSMSE)">Materials Science and Engineering (BSMSE)</ion-select-option>
      <ion-select-option value="Mathematics(BA,BS)">Mathematics (BA, BS)</ion-select-option>
      <ion-select-option value="MechanicalEngineering(BSME)">Mechanical Engineering (BSME)</ion-select-option>
      <ion-select-option value="MusicIndustry(BS)">Music Industry (BS)</ion-select-option>
      <ion-select-option value="NavyROTC">Navy ROTC</ion-select-option>
      <ion-select-option value="Nursing(BSN)">Nursing (BSN)</ion-select-option>
      <ion-select-option value="Nursing:RN-MSNBridgeProgram">Nursing: RN-MSN Bridge Program</ion-select-option>
      <ion-select-option value="Nursing:AcceleratedRN/BSN/MSN">Nursing: Accelerated RN/BSN/MSN</ion-select-option>
      <ion-select-option value="NutritionandFoods(BS)">Nutrition and Foods (BS)</ion-select-option>
      <ion-select-option value="NutritionSciences:AcceleratedBS/MS">Nutrition Sciences: Accelerated BS/MS</ion-select-option>
      <ion-select-option value="OperationsandSupplyChainManagement(BSBA)">Operations and Supply Chain Management (BSBA)</ion-select-option>
      <ion-select-option value="OrganizationalManagement(co-major)(BSBA)">Organizational Management (co-major) (BSBA)</ion-select-option>
      <ion-select-option value="Philosophy(BA)">Philosophy (BA)</ion-select-option>
      <ion-select-option value="Photography(BS)">Photography (BS)</ion-select-option>
      <ion-select-option value="Physics(BS)">Physics (BS)</ion-select-option>
      <ion-select-option value="PoliticalScience(BA)">Political Science (BA)</ion-select-option>
      <ion-select-option value="ProductDesign(BS)">Product Design (BS)</ion-select-option>
      <ion-select-option value="Psychology(BS)">Psychology (BS)</ion-select-option>
      <ion-select-option value="PublicHealth(BS)">Public Health (BS)</ion-select-option>
      <ion-select-option value="PublicHealth:AcceleratedBS/MPH">Public Health: Accelerated BS/MPH</ion-select-option>
      <ion-select-option value="RealEstateManagementandDevelopment(BSBA)">Real Estate Management and Development (BSBA)</ion-select-option>
      <ion-select-option value="ROTC(AirForce,Army,Navy)">ROTC (Air Force, Army, Navy)</ion-select-option>
      <ion-select-option value="Screenwriting&Playwriting(BS)">Screenwriting & Playwriting (BS)</ion-select-option>
      <ion-select-option value="Sociology(BA)">Sociology (BA)</ion-select-option>
      <ion-select-option value="SoftwareEngineering(BS)">Software Engineering (BS)</ion-select-option>
      <ion-select-option value="SportManagement(BSSM)">Sport Management (BSSM)</ion-select-option>
      <ion-select-option value="SportManagement(BSSM)/BusinessAdministration(MBA)">Sport Management (BSSM) / Business Administration (MBA)</ion-select-option>
      <ion-select-option value="SystemsEngineering(BS/MS)">Systems Engineering (BS/MS)</ion-select-option>
      <ion-select-option value="TeacherEducation(BS)">Teacher Education (BS)</ion-select-option>
      <ion-select-option value="TechnologyInnovationManagement(co-major)(BS)">Technology Innovation Management (co-major) (BS)</ion-select-option>
      <ion-select-option value="VirtualReality&ImmersiveMedia(BS)">Virtual Reality & Immersive Media (BS)</ion-select-option>
      <ion-select-option value="WestphalStudiesProgram(BS)">Westphal Studies Program (BS)</ion-select-option>

    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Location</ion-label>
    <ion-select multiple="true">
      <ion-select-option value="CenterCity">Philadelphia Center City</ion-select-option>
      <ion-select-option value="UniversityCity">University City</ion-select-option>
      <ion-select-option value="OtherParts">Other Parts of Philadelphia City</ion-select-option>
      <ion-select-option value="PhiladelphiaSubberbs">Philadelphia Subberbs</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
<ion-item>
  <ion-label>Paid</ion-label>
  <ion-checkbox checked="true"></ion-checkbox>
</ion-item>
<ion-item>
  <ion-label>Unpaid</ion-label>
  <ion-checkbox checked="true"></ion-checkbox>
</ion-item>
<ion-list-header></ion-list-header>
<ion-button (click)="goToSearchDisplay()">Search</ion-button>
</ion-content>
