<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to MOD-CO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>MOD-CO is an app built by students as a part of their CI-102/103 project. This app was built to make the entire process of finding a CO-OP at Drexel University easier and to provide a mobile version of the SCDC database.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://drexel.edu/scdc/">
        <ion-icon slot="start" color="#ffffff" name="school"></ion-icon>
        <ion-label>Drexel Steinbright Career Development Center</ion-label>
      </ion-item>
      <ion-item href="https://drexel.edu/cci/">
        <ion-icon slot="start" color="#ffffff" name="school"></ion-icon>
        <ion-label>Drexel College of Computing and Informatics</ion-label>
      </ion-item>
      <ion-item href="https://drexel.edu/">
        <ion-icon slot="start" color="#ffffff" name="school"></ion-icon>
        <ion-label>Drexel University</ion-label>
      </ion-item>

    </ion-list>
</ion-content>
