<ion-grid>
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div text-center>
        <ion-title>Registration Page</ion-title>
        <p>Please fill in the relevant details!</p>
      </div>
      <div padding>
        <span>
        <p>{{errorMessage}}</p>
          </span>
        <ion-item>
          <ion-input [(ngModel)]="name" type="text" placeholder="Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="email" pattern="email" name="email" type="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="password" pattern="password" name="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="conf_password" pattern="password" name="password" type="password" placeholder="Confirm Password"></ion-input>
        </ion-item>
      </div>

      <div padding>
        <ion-button (click)="reg(user)" size="large" expand="block">Register</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
